<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
        </div>
    
        <div class="navbar-center">
            <ul class="navbar-elements">
                <li class="navbar-element"><a href="{{ url_for('home')}}">Home</a></li>
                <li class="navbar-element"><a href="{{ url_for('add_book') }}">Add a Book</a></li>
                <li class="navbar-element"><a href="{{ url_for('get_books', user_id='user001') }}">My Books</a></li>
            </ul>
        </div>
    
        <div class="navbar-right">
            <a href="#" class="auth-btn">Sign In</a>
            <a href="#" class="auth-btn">Register</a>
        </div>
    </div>    
    <h1>Add a New Book</h1>
    <div class="form-container">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>{{ form.title.label }} {{ form.title(size=40 ) }}</div>
            <div>{{ form.author.label }} {{ form.author(size=32) }}</div>
            <div>{{ form.current_page.label }} {{ form.current_page() }}</div>
            <div>{{ form.status.label }} {{ form.status() }}</div>
            <div>{{ form.notes.label }} {{ form.notes(rows=4, cols=32) }}</div>
            <div><button type="submit">Add</button></div>
        </form>
    </div>
</body>
</html>
