<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
        <ul class="navbar-elements">
            <li class="navbar-element home"><a href="{{ url_for('home')}}">Home</a></li>
            <li class="navbar-element"><a href="{{ url_for('add_book') }}">Add a Book</a></li>
            <li class="navbar-element"><a href="{{ url_for('get_books', user_id='user001') }}">My Books</a></li>
        </ul>
    </div>
    <h1>My Books</h1>
    <ul>
        {% for book in books %}
        <li>
            <strong>{{ book.title }}</strong> by {{ book.author }}<br>
            Status: {{ book.status }} | Current Page: {{ book.current_page }}<br>
            Notes: {{ book.notes }}<br>
            <a href="{{ url_for('update_book', book_id=book.book_id) }}">Update</a> |
            <a href="{{ url_for('remove_book', book_id=book.book_id) }}">Remove</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
